# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

NSQ_URL=8.8.8.8:4150

ICON_FILE_PATH='/var/www/html/public/files/icons/fields'
ICON_FILE_URL='http://localhost:8000/files/icons/fields'

# https://BACKEND_SERVER_IMAGE_URL/files/image/upload
# в итоге на енвах это будет выглядеть так:
# prod - https://api.adverto.sale/files/image/upload
# preprod - api.advretoapi.com/files/image/upload
# dev - backend.send-report.com/files/image/upload
BACKEND_SERVER_IMAGE_URL=https://backend.send-report.com
BACKEND_SERVER_URL=https://backend.send-report.com
BACKEND_INTEGRATION_SERVER=http://10.23.0.1:8001

# авторизация по IP, список изменяется админом прокси. Можно переопределить в .env.local
SOCKS5_PROXY_URL='socks5://8.8.8.8:1085'

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=dbe00fca6fb0c8db071602dd0a4dcc86
#TRUSTED_PROXIES=127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
#TRUSTED_HOSTS='^(localhost|example\.com)$'
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml
#

# --- DEV ----
# DATABASE_URL=mysql://dblogin:dbpass@8.8.8.8:3306/advretoapi_db
# DATABASE_LOG_URL="mysql://dblogin:dbpass@8.8.8.8:3306/adv_logs"
# --- end DEV ----

# --- LOCAL ---
DATABASE_URL=mysql://advert:12345@db:3307/advert_admin
# --- end LOCAL ----

###< doctrine/doctrine-bundle ###

###> symfony/mailer ###
# MAILER_DSN=smtp://localhost
###< symfony/mailer ###

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=1a94c334012cff1aa64573afb823dc9f
###< lexik/jwt-authentication-bundle ###

###> redis cache ###
REDIS_DSN=redis://redis:6379
###< ###